@using UniversityDtos
@model RetornoDto<UniversityModels.Turma>
@{
    ViewData["Title"] = "Cadastro de Turma";
}
@if (Model.ErrorMessage != null)
{
    <h3>@Model.ErrorMessage</h3>
}
<form method="post" asp-controller="Turma" asp-action="Adicionar">
    <div>
        <label asp-for="Object.NomeTurma">Nome:</label>
        <input asp-for="Object.NomeTurma" />
    </div>
    <div>
        <label asp-for="Object.Ano">Ano:</label>
        <input asp-for="Object.Ano" />
    </div>
    <div>
        <label asp-for="Object.CursoId">Curso:</label>
        <select asp-for="Object.CursoId">
            <option>Selecione o Curso</option>
            @foreach (var curso in Enum.GetValues(typeof(UniversityModels.Enum.CursoEnum)))
            {
                <option value="@Convert.ToInt32(curso)">@curso</option>
            }
        </select>
    </div>
    <button type="submit" class="btn">Cadastrar</button>
</form>