@using UniversityDtos
@model RetornoDto<UniversityModels.Aluno>
@{
    ViewData["Title"] = "Cadastro de Aluno";
}
@if (Model.ErrorMessage != null)
{
    <h3>@Model.ErrorMessage</h3>
}
<form method="put" asp-controller="Aluno" asp-action="Edit">
    <input type="hidden" asp-for="Object.Id" />
    <div>
        <label asp-for="Object.Nome">Nome:</label>
        <input asp-for="Object.Nome" />
    </div>
    <div>
        <label asp-for="Object.Usuario">Usuário:</label>
        <input asp-for="Object.Usuario" />
    </div>
    <div>
        <label asp-for="Object.Senha">Senha:</label>
        <input asp-for="Object.Senha" type="password" />
    </div>
    <button class="btn" type="submit">Salvar</button>
</form>